.container {
  width: 800px;
  margin: 0 auto;
}

.yellow {
  height: 100px;
  background: yellow;
}

.blue {
  height: 300px;
  background: blue;
}

.blue .yellow {
  height: 300px;
  width: 100px;
  margin: 0 auto;
}